@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");


:root {
  --primary: #2947a9;
  --button-background: #292e3d;
  --lighter-text: #858ead;
  --regular: 400;
  font-family: "Work Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// mixins
@mixin hover-card{
  transition: transform 200ms ease;

  &:hover{
    transform: translate(0, -2px) scale(1.1);
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  }
}

.container{
  max-width: 1150px;
}

.hover-mylink {
  color: #14171f;
  font-size: 0.8rem;
}

.-right-30 {
  right: -30%;
}

.hover-mylink:hover {
  color: #f9995d !important;
}

.hero-section {
  background: url(/images/hero/hero.svg) no-repeat center;
  background-size: cover;
  height: 92vh;

  h1 {
    left: 5%;
    bottom: 10%;
    font-size: 2.2rem !important;
  }

  .navigation {
    right: 0%;
  }

  .navigation-controls {
    gap: 1px;
  }
}

.card {
  @include hover-card();

  border-radius: 4px !important;

  h5 {
    font-weight: 700;
  }

  h6 {
    font-weight: var(--regular);
  }
}

.card-border {
  border-left: 4px solid #f9995d;
}

.spacer {
  width: 20%;
  height: 2px;
}

.about-us {
  background: url(/images/aboutus/aboutus_hero.svg) no-repeat center;
  background-size: cover;
  width: 75%;
  aspect-ratio: 4/3;
  left: 10%;
  
  + div{
    right: 10%;
    z-index: 5;
  }
}

.services {
  .card:nth-child(even) {
    background-color: #2947a9;

    h6 {
      color: white;
    }

    .spacer {
      background-color: white;
    }
  }

  .card:nth-child(odd) {
    background-color: white;

    h6 {
      color: var(--primary);
    }

    .spacer {
      background-color: var(--primary);
    }
  }
}

.consultation {
  background: url(/images/consultation/freeconsultation.svg) no-repeat center;
  background-size: cover;
}

.active {
  padding-bottom: 10px;
  border-left: none;
  padding-left: 0px ;
  border-bottom: 4px solid var(--primary);
}

.inactive {
  padding-left: 10px;
  padding-bottom: 0px;
}

.project-wrapper>.card {
  width: 380px;
}

form {
  max-width: 900px;
}


.experience{

  .card{
    box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1),
    0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  }

  .card:not(:last-child):nth-child(even){
    left: -50px;

    img{
      top: -15%;
      left: -10%;
    }
  }

  .card:nth-child(odd){
    right: -50px;
    z-index: 5;

    img{
      top: -15%;
      right: -10%;
    }
  }

  .card:last-child{
    left: -50px;

    img{
      bottom: -15%;
      right: -10%;
    }
  }

}


// global classes
.sm {
  font-size: 16px;
}

.md {
  font-size: 17px;
}

.lg {
  font-size: 18px;
}

.xl {
  font-size: 20px;
}

.xl2 {
  font-size: 28px;
}

.xl3 {
  font-size: 48px;
}

.xl4 {
  font-size: 64px;
}

.bg-myprimary {
  background-color: var(--primary) !important;
}

.bg-mysecondary {
  background-color: var(--button-background) !important;
}

.bg-alt {
  background-color: #f6f8f7 !important;
}

.bg-orange {
  background-color: #f9995d;
}

.font-mysecondary {
  color: var(--button-background) !important;
}

.font-myprimary {
  color: var(--primary) !important;
}

.font-lighter {
  color: var(--lighter-text) !important;
}

.font-lightblue {
  color: #525b7a;
}

.logo-text {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.fit-content {
  width: fit-content;
  height: fit-content;
}

.projects {
  padding: 0px;
}


@media screen and (min-width: 768px) {
  .hero-section {
    h1 {
      font-size: 72px !important;
    }

    .navigation {
      right: 5%;
    }
  }



  .active {
    padding-left: 10px;
    border-bottom: none;
    padding-bottom: 0px;
    border-left: 4px solid var(--primary);
  }

  .inactive {
    padding-left: 10px;
    padding-bottom: 0px;
  }

  .about-us {
    width: 100%;
  }

  .md {
    font-size: 18px;
  }

  .lg {
    font-size: 20px;
  }

  .xl {
    font-size: 24px;
  }

  .xl2 {
    font-size: 36px;
  }

  .xl3 {
    font-size: 60px;
  }

  .xl4 {
    font-size: 72px;
  }
}